*.elc
/deps
/emacs-ghostty
/emacs-libvterm
project-claude.el
project-gemini.el
project-claude-generated.el
project-gemini-generated.el
test-project-claude-generated.el
test-project-gemini-generated.el
!/.claude
